<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Developer <%= developer.id %></title>

        <link rel="stylesheet" href="../../styles/style.css" />
        <link rel="stylesheet" href="../../styles/centerView.css">
    </head>
    <body>
        <%- include("../partials/header", { path: "../" }) %>

        <main>
            <div>
                <h2><%= developer.developer_name %></h2>

                <h3>Developed these Games</h3>
                <ul>
                    <% for (let i = 0; i < games.length; i++) { %>
                        <li><a href="/game/<%= games[i].game_id %>"><%= games[i].game_name %></a></li>
                    <% } %>
                </ul>

                <div>
                    <%- include("../partials/update", { path: "developer", id: developer.id, name: developer.developer_name }) %>
                    <%- include("../partials/deleteForm", { path: "developer", id: developer.id, name: developer.developer_name }) %>
                </div>
            </div>
            <!-- Genre not found Handling -->
        </main>
    </body>
</html>
