<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application</title>

        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <p><a href="/"><img src="../icons/homePageIcon.svg" alt="Home">Home</a></p>
            <p><a href="/game"><img src="../icons/gamesIcon.svg" alt="Game">Games</a></p>
            <p><a href="/genre"><img src="../icons/genresIcon.svg" alt="Genre">Genres</a></p>
            <p><a href="/developer"><img src="../icons/developersIcon.svg" alt="Developer">Developers</a></p>
            <p><a href="/publisher"><img src="../icons/publishersIcon.svg" alt="Publisher">Publishers</a></p>
        </header>

        <main>
            <div>
                <h2>Most played Games</h2>

                <ul>
                    <% games.forEach((game) => {%>
                        <li>
                            <%= game.game_name %>
                        </li>
                    <% }); %>
                    </ul>
            </div>

            <div>
                <h2>Genres</h2>

                <div>
                    <ul>
                        <% for (let i = 0; i < genres.length; i++) { %>
                            <li>
                                <a href="/genre/<%= genres[i].id %>"><%= genres[i].game_genre %></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div>
                <h2>What you should play</h2>

                <ul>
                    <% let randomGames = []; %>

                    <% for (let i = 0; i < games.length; i++) {
                        let i2 = Math.floor(Math.random() * games.length);

                        if (!randomGames.includes(i2)) {
                            randomGames.push(i2);
                        }

                        if (randomGames.length === 4) {
                            break;
                        }
                    } %>

                    <% for (let i = 0; i < randomGames.length; i++) { %>
                        <li>
                            <a href="/game/<%= games[randomGames[i]].id %>"><%= games[randomGames[i]].game_name %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </main>
    </body>
</html>
