<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application</title>

        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <%- include("partials/header", { path: "../" }) %>

        <main>
            <div>
                <h2>Most played Games</h2>

                <ul class="list-of-things">
                    <% games.forEach((game) => {%>
                        <li>
                            <a href="/game/<%= game.id %>"><%= game.game_name %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>

            <div>
                <h2>Genres</h2>

                <div>
                    <ul class="list-of-genres">
                        <% for (let i = 0; i < genres.length; i++) { %>
                            <li>
                                <a href="/genre/<%= genres[i].id %>"><%= genres[i].game_genre %></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div>
                <h2>What you should play</h2>

                <ul class="list-of-things">
                    <% let randomGames = []; %>

                    <% for (let i = 0; i < games.length; i++) {
                        let i2 = Math.floor(Math.random() * games.length);

                        if (!randomGames.includes(i2)) {
                            randomGames.push(i2);
                        }

                        if (randomGames.length === 4) {
                            break;
                        }
                    } %>

                    <% for (let i = 0; i < randomGames.length; i++) { %>
                        <li>
                            <a href="/game/<%= games[randomGames[i]].id %>"><%= games[randomGames[i]].game_name %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </main>
    </body>
</html>
