<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Game <%= game.id %></title>
    </head>
    <body>
        <main>
            <h2><%= game.game_name %></h2>
            <p><%= cost %> €</p>

            <h3>Ratings</h3>
            <% let average = 0; %>
            <% for (let i = 0; i < ratings.length; i++) { %>
                <% average += ratings[i].rating; %>
            <% } %>
            <p><%= Number.parseFloat(average / ratings.length).toFixed(2) %> <img src="../icons/starIcon.svg" alt="Stars" width="20px" height="auto"></p>

            <h3>Genres</h3>
            <ul>
                <% for (let i = 0; i < genres.length; i++) { %>
                    <li><%= genres[i].game_genre %></li>
                <% } %>
            </ul>

            <h3>Developed By</h3>
            <ul>
                <% for (let i = 0; i < developers.length; i++) { %>
                    <li><%= developers[i].developer_name %></li>
                <% } %>
            </ul>

            <h3>Published By</h3>
            <p><%= publishers[0].publisher_name %></p>
            

            <form action="/game/delete/<%= game.id %>" method="GET">
                <button type="submit">Delete this Game?</button>
            </form>
            <!-- Game not foud Handling -->
        </main>
    </body>
</html>
