<header>
    <p>
        <a href="/"
            ><img src="<%= path %>icons/homePageIcon.svg" alt="Home" width="40px" height="auto"
        /></a>
    </p>
    <p>
        <a href="/game"
            ><img src="<%= path %>icons/gamesIcon.svg" alt="Game" width="40px" height="auto"
        /></a>
    </p>
    <p>
        <a href="/genre"
            ><img src="<%= path %>icons/genresIcon.svg" alt="Genre" width="40px" height="auto"
        /></a>
    </p>
    <p>
        <a href="/developer"
            ><img
                src="<%= path %>icons/developersIcon.svg"
                alt="Developer"
                width="40px"
                height="auto"
        /></a>
    </p>
    <p>
        <a href="/publisher"
            ><img
                src="<%= path %>icons/publishersIcon.svg"
                alt="Publisher"
                width="40px"
                height="auto"
        /></a>
    </p>
</header>
